<h1>Recherche du meilleur spot</h1>
<form class="form-inline">
    <label class="sr-only" for="placeType">placeType</label>
    <select multiple #type class="form-control mb-2 mr-sm-2" id="placeType" (change)="setSelected($event.target)">
        <option *ngFor="let item of placeTypes" [value]="item.name">{{item.name}}</option>
    </select>

    <label class="form-check-label" for="tp">TP? </label>
    <input #tp type="checkbox" class="form-check-input" id="tp">

    <label class="form-check-label" for="p0">+0? </label>
    <input #p0 type="checkbox" class="form-check-input" id="p0">

    <label class="form-check-label" for="m10">-20? </label>
    <input #m10 type="checkbox" class="form-check-input" id="m10">

    <button type="button" class="btn btn-primary mb-2" (click)="search(type.values, tp.checked, p0.checked, m10.checked)">Submit</button>
</form>
<div *ngIf="top20.length>0">
    <h1 >Résultats</h1>
    <table style="width:100%;margin-bottom:25px;" *ngFor="let row of top20">
        <tr>
            <th style="width:10%;text-align:center;">id</th>
            <th style="width:40%;">type</th>
            <th style="width:10%;text-align:center;">x</th>
            <th style="width:10%;text-align:center;">y</th>
            <th style="width:10%;text-align:center;">z</th>
            <th style="width:20%;text-align:center;">distance</th>
        </tr>
        <tr *ngFor="let row2 of row.data; let i = index">
            <td style="text-align:center;">{{row2.id}}</td>
            <td>{{row2.name}}</td>
            <td style="text-align:center;">{{row2.x}}</td>
            <td style="text-align:center;">{{row2.y}}</td>
            <td style="text-align:center;">{{row2.z}}</td>
            <td style="text-align:center;" *ngIf="i===0" [attr.rowspan]="row.data.length">{{row.distance}}</td>
        </tr>
    </table>
</div>