<h1>Vue 2D</h1>
<div [ngStyle]="{ 'display': processed ? 'none' : '' }">
    <form>
        <div class="form-group">
            <label for="cc">Vue</label>
            <textarea #textarea class="form-control" id="cc" rows="18">
Aller au contenu
Utiliser Gmail avec un lecteur d'écran
1 sur 26
[MountyHall] Sortilège : Vision lointaine
Mountyhall
	x
MountyHall-Bot

20 déc. 2019 23:44

À moi
================================
MOUNTYHALL - La Terre des Trõlls
================================

Trõll n°108504 : Le Kipu

Vous avez été impliqué dans un événement : SORTILEGE.
Il était alors aux alentours de : 20/12/2019 23:44:46.
*************************************************

Vous avez utilisé le Sortilège : Vision lointaine
Vous avez progressé dans l'apprentissage de ce sortilège. Il vous reste 5 usages de ce sortilège.


Voici la Vue obtenue :

Zone centrale ciblée : X = 10 | Y = -86 | N = -75

        [-]     MONSTRES ERRANTS        Monstres | Trõlls | Trésors | Champignons | Lieux | Cénotaphes

Dist.Réf.NomXYN
        2       6259465 Anoploure Purpurin [Imago]      9       -87     -77
        3       6238856 Barghest Fanatique [Supérieur]  12      -83     -72
        4       6229191 Mohrg Archaïque [Antique]       11      -89     -71
        4       6328305 Gros Daemonite [Majeur] 13      -83     -71
        4       6281126 Banshee Coriace [Vénérable]     9       -82     -75
        4       6321591 Abishaii Vert [Mineur]  7       -86     -79
        5       6255916 Elémentaire du Chaos Cogneur [Majeur]   5       -87     -70
        5       6277903 Elémentaire du Chaos de Troisième Cercle [Favori]       5       -87     -70
        5       6306609 Elémentaire du Chaos [Favori]   5       -87     -70
        5       6285341 Elémentaire du Chaos [Supérieur]        5       -87     -70
        5       6316972 Elémentaire du Chaos [Supérieur]        5       -87     -70
        5       6244726 Vouivre [Doyenne]       6       -91     -71
        5       6220147 Prince Daemonite [Majeur]       10      -81     -74
        5       6304574 Goule [Antique] 15      -82     -74
        5       6281097 Nécrochore Nécromant [Vénérable]        15      -82     -74
        5       6387558 Nécrophage [Naissant]   9       -81     -75
        5       6386451 Diablotin [Initial]     7       -91     -76
        5       6386478 Diablotin [Initial]     9       -81     -76
        5       6320490 Elémentaire d'Air [Favori]      7       -86     -80
        5       6312746 Elémentaire du Chaos des Abysses [Supérieur]    7       -86     -80
        5       6374712 Gros Abishaii Noir [Novice]     10      -83     -80
        5       6321264 Abishaii Bleu Coriace [Majeur]  12      -91     -80
        5       6321813 Abishaii Rouge des Abysses [Favori]     12      -91     -80
        5       6335839 Daemonite [Majeur]      12      -91     -80
        5       6337031 Daemonite [Mineur]      12      -91     -80
        5       6321717 Elémentaire du Chaos Cogneur [Mineur]   12      -91     -80
        5       6320753 Elémentaire du Chaos [Favori]   12      -91     -80
        5       6320484 Marilith Invocatrice [Favorite] 12      -91     -80
        6       6271599 Trancheur [Vétéran]     5       -80     -71
        6       6235849 Palefroi Infernal [Supérieur]   9       -92     -73
        6       6262423 Mohrg [Vénérable]       12      -92     -73
        6       6288974 Grylle Cracheur [Briscard]      8       -80     -75
        6       6286912 Trancheur Fustigateur [Doyen]   16      -84     -77
        6       6286369 Grylle [Doyen]  7       -80     -78
        6       6321450 Molosse Satanique [Mineur]      4       -86     -80
        7       6234111 Cube Gélatineux [Doyen] 3       -87     -70
        7       6267113 Flagelleur Mental [Briscard]    4       -79     -71
        7       6266195 Crasc Maexus Gargantuesque [Doyen]      13      -93     -71
        7       6293944 Effrit Cracheur [Doyen] 15      -93     -72
        7       6284002 Marilith Ronfleuse [Supérieure] 3       -93     -73
        7       6290062 Trancheur Fouisseur [Briscard]  3       -82     -73
        7       6265085 Trancheur [Briscard]    3       -82     -73
        7       6223120 Trancheur [Doyen]       3       -82     -73
        7       6303045 Ectoplasme Corrompu [Séculaire] 9       -79     -74
        7       6388354 Goule Ronfleuse [Naissante]     9       -79     -74
        7       6303844 Vampire [Antique]       12      -79     -74
        7       6301436 Croquemitaine [Antique] 9       -79     -75
        7       6299375 Vampire [Antique]       9       -79     -75
        7       6380140 Palefroi Infernal de Quatrième Cercle [Novice]  11      -79     -76
        8       6374652 Pseudo-Dragon [Novice]  18      -89     -72
        8       6374641 Pseudo-Dragon [Novice]  18      -89     -72
        8       6222195 Nécromant Psychophage [Antique] 17      -78     -73
        8       6145971 Daemonite [Ultime]      16      -94     -77
        8       6386193 Zombi de karkass [Antédiluvien] 4       -78     -78
        8       6386499 Pseudo-Dragon [Initial] 18      -87     -78
        8       6383636 Pseudo-Dragon [Initial] 18      -87     -78
        9       6256818 Effrit Colossal [Briscard]      1       -79     -70
        9       6273702 Nécrochore Nécromant [Vénérable]        13      -95     -70
        9       6282298 Grylle Fustigateur [Briscard]   18      -77     -70
        9       6223505 Petit Grylle [Doyen]    1       -95     -72
        9       6237133 Anoploure Purpurin [Mûr]        10      -95     -72
        9       6327557 Maître Vampire [Vénérable]      1       -90     -74
        9       6294410 Mégacéphale [Doyen]     19      -79     -74
        9       6270525 Mégacéphale [Briscard]  7       -77     -76
        9       6248353 Nécrochore [Antique]    6       -77     -77
        9       6287746 Flagelleur Mental [Doyen]       2       -77     -78
        9       6283456 Phoenix [Briscard]      14      -95     -78
        9       6221288 Trancheur Cracheur [Briscard]   19      -87     -78
        10      6303987 Goule Nécromante [Antique]      0       -95     -70
        10      6289469 Cube Gélatineux [Briscard]      0       -79     -70
        10      6305436 Elémentaire du Chaos Cogneur [Majeur]   4       -96     -70
        10      6220683 Elémentaire du Chaos Cogneur [Majeur]   4       -96     -70
        10      6276911 Elémentaire du Chaos [Favori]   4       -96     -70
        10      6301086 Elémentaire du Chaos [Supérieur]        4       -96     -70
        10      6277426 Ame-en-peine [Séculaire]        8       -96     -70
        10      6288193 Banshee [Antique]       8       -96     -70
        10      6276215 Banshee [Vénérable]     8       -96     -70
        10      6383648 Pseudo-Dragon de Cinquième Cercle [Initial]     12      -76     -71
        10      6268221 Mégacéphale [Briscard]  18      -76     -72
        10      6286061 Anoploure Purpurin [Mûr]        0       -80     -74
        10      6286063 Anoploure Purpurin [Mûr]        0       -80     -74
        10      6286062 Anoploure Purpurin [Mûr]        0       -80     -74
        10      6266292 Mégacéphale [Briscard]  16      -76     -74
        10      6231089 Mohrg [Antique] 20      -78     -74
        10      6388861 Barghest [Initial]      0       -92     -75
        10      6383791 Elémentaire d'Air Cogneur [Initial]     0       -88     -75
        10      6268330 Flagelleur Mental [Briscard]    0       -88     -75
        10      6268329 Flagelleur Mental [Briscard]    0       -88     -75
        10      6268331 Flagelleur Mental [Briscard]    0       -88     -75
        10      6279829 Gritche Invocateur [Favori]     0       -88     -75
        10      6298698 Capitan [Antique]       0       -85     -75
        10      6390358 Croquemitaine [Naissant]        6       -76     -75
        10      6386693 Fantôme Corrompu [Naissant]     9       -76     -75
        10      6227360 Shai [Supérieur]        9       -76     -75
        10      6300554 Vampire [Antique]       9       -76     -75
        10      6388270 Abishaii Noir [Initial] 0       -90     -76
        10      6299394 Abishaii Rouge [Supérieur]      0       -90     -76
        10      6388035 Elémentaire d'Air de Second Cercle [Initial]    0       -90     -76
        10      6387451 Elémentaire d'Eau [Initial]     0       -90     -76
        10      6302333 Elémentaire du Chaos [Majeur]   0       -90     -76
        10      6300996 Erinyes [Supérieure]    0       -90     -76
        10      6387813 Incube [Initial]        0       -90     -76
        10      6300153 Incube [Supérieur]      0       -90     -76
        10      6257003 Cube Gélatineux Frénétique [Briscard]   20      -77     -77
        10      6222227 Foudroyeur [Mûr]        3       -96     -78

        [-]     TRÕLLS  Monstres | Trõlls | Trésors | Champignons | Lieux | Cénotaphes

Dist.Réf.NomGuilde Niv.RaceXYN

        [-]     TRÉSORS Monstres | Trõlls | Trésors | Champignons | Lieux | Cénotaphes

Dist.Réf.TypeXYN
        4       13531736        Arme (2 mains)  13      -85     -79
        6       13363882        Arme (2 mains)  16      -81     -75
        6       13365620        Arme (1 main)   16      -81     -75
        6       13366287        Arme (2 mains)  16      -81     -75
        6       13366635        Armure  16      -81     -75
        7       13233080        Armure  17      -80     -72
        7       13310661        Arme (1 main)   4       -79     -77
        7       13310962        Armure  4       -79     -77
        7       13310963        Arme (2 mains)  4       -79     -77
        7       13310972        Armure  4       -79     -77
        7       13312942        Armure  4       -79     -77
        7       13287315        Armure  3       -83     -78
        8       13431406        Arme (2 mains)  18      -82     -73
        8       13437459        Arme (2 mains)  18      -79     -73
        8       13423213        Arme (1 main)   2       -79     -75
        8       13420009        Arme (1 main)   2       -78     -75
        8       13426777        Armure  18      -85     -75
        8       13310447        Arme (1 main)   2       -83     -78
        8       13306839        Arme (2 mains)  4       -78     -78
        9       13441488        Arme (2 mains)  19      -79     -73
        9       13427127        Armure  19      -82     -75
        9       13362170        Arme (2 mains)  19      -89     -77
        10      13300024        Arme (2 mains)  0       -80     -79
        10      13298087        Arme (2 mains)  0       -79     -79
        10      13299346        Arme (2 mains)  0       -78     -79

        [-]     CHAMPIGNONS     Monstres | Trõlls | Trésors | Champignons | Lieux | Cénotaphes

Dist.Réf.ChampignonXYN

        [-]     LIEUX   Monstres | Trõlls | Trésors | Champignons | Lieux | Cénotaphes

Dist.Réf.NomXYN
        6       3062004 Geyser du diable        16      -80     -70

        [-]     CÉNOTAPHES      Monstres | Trõlls | Trésors | Champignons | Lieux | Cénotaphes

Dist.Réf.TypeXYN

Vous avez également gagné 1 PX pour la réussite.

*************************************************
Vous avez configuré votre compte pour recevoir un Email lorsque votre Trõll est impliqué dans un événement.
Si vous ne désirez plus recevoir ces Emails, veuillez changer cette configuration dans le profil de votre Trõll.

Le Site        : https://www.mountyhall.com
Pour Jouer     : https://games.mountyhall.com
Des Questions  : http://www.mountyhall.com/Forum
*************************************************

…

[Message tronqué]  Afficher l'intégralité du message



</textarea>
            <small class="form-text text-muted">Clic dans la fenêtre de vue Gobland, Ctrl+A, Ctrl+C, et Ctrl+V dans la zone texte ci-dessus.</small>
        </div>
    </form>
    <button (click)="view()" class="btn btn-primary">Voir</button>
</div>
<view-component #viewComponent></view-component>
