<h1>Vue 2D</h1>
<div [ngStyle]="{ 'display': processed ? 'none' : '' }">
    <form>
        <div class="form-group">
            <label for="cc">Vue</label>
            <textarea #textarea class="form-control" id="cc" rows="18"></textarea>
            <small class="form-text text-muted">Clic dans la fenêtre de vue Gobland, Ctrl+A, Ctrl+C, et Ctrl+V dans la zone texte ci-dessus.</small>
        </div>
    </form>
    <button (click)="view()" class="btn btn-primary">Voir</button>
</div>
<view-component #viewComponent></view-component>
