<h1>Clan</h1>
<div *ngIf="gobs">
    <div class="form-group">
        <button type="button" class="btn btn-primary mb-2" (click)="refresh()" [disabled]="busy">{{text}}</button>
    </div>
    <table class="table table-sm table-bordered">
        <tr>
            <th>
                Nom<br/>
                <small>Race / niveau</small>
            </th>
            <th>
                PV<br/>
                <small>Faim</small>
            </th>
            <th>Pos</th>
            <th>PAs</th>
            <th>DLA</th>
            <th>

            </th>
        </tr>
        <ng-container *ngFor="let gob of gobs">
            <tr>
                <td>
                    <b (click)="showDetails(gob)">{{ gob.Nom }}</b>
                    <span class="mobHide"><br/><small>({{ gob.Id }}) {{ gob.Tribu }} {{ gob.Niveau }}</small></span>
                </td>
                <td style="padding: 0;">
                    <div #pv style="width: 100%; border: 0; position:relative">
                        <div style="width: 100%; height: 31px; padding: 2px;"
                             [style.width.%]="(gob.PV / gob.PVMax) * 100"
                             [style.backgroundColor]="getPVColor(gob.PV, gob.PVMax)">
                        </div>
                        <div style="width: 100%; height: 31px; text-shadow: #333 0 0.05rem 5px, #333 0 0.05rem 5px, #333 0 0.05rem 5px; padding: 2px; position: absolute; top: 0;">
                            <span style="display: block;">{{ gob.PV }}<span
                                    class="mobHide"> / {{ gob.PVMax }}</span></span>
                        </div>
                    </div>
                    <div #faim style="width: 100%; border: 0;">
                        <div style="width: 100%; height:25px; text-shadow: #333 0 0.05rem 5px, #333 0 0.05rem 5px, #333 0 0.05rem 5px; padding: 2px;"
                             [style.backgroundColor]="getHungerColor(gob.Faim)">
                            <small style="display: block;">{{ gob.Faim }}</small>
                        </div>
                    </div>
                </td>
                <td>
                    <small class="nomobHide">{{ gob.X }}/{{ gob.Y }}/{{ gob.N }}</small>
                    <span class="mobHide">{{ gob.X }} / {{ gob.Y }} / {{ gob.N }}</span>
                </td>
                <td [style.backgroundColor]="getPAColor(gob.paState)">{{ gob.PA }}</td>
                <td>
                    <span class="mobHide">{{ gob.DLA | date:'dd/MM/yyyy HH:mm' }}</span>
                    <span class="nomobHide">{{ gob.DLA | date:'HH:mm' }}</span>
                    <br/>
                    <small>
                        <span class="mobHide">{{ gob.nextDLA | date:'dd/MM/yyyy HH:mm' }}</span>
                        <span class="nomobHide">{{ gob.nextDLA | date:'HH:mm' }}</span>
                        <span *ngIf="gob.dlaState>0"> - <span [style.color]="getDLAColor(gob.dlaState)">■</span></span>
                    </small>
                </td>
                <td>
                    <a href="javascript:void(0)" (click)="view(gob.Id)">Vue</a>
                </td>
            </tr>
            <tr>
                <td colspan="7" [ngStyle]="{'display': (gob.showDetails?'':'none')}">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                <table class="no-border">
                                    <tr>
                                        <td style="text-align: left;">Durée DLA</td>
                                        <td style="text-align: right;">{{ getDateFromSeconds(gob.DLADuration) }}</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;">Poids mathos</td>
                                        <td style="text-align: right;">{{ getDateFromSeconds(gob.BPDLA) }}</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;">Bonus</td>
                                        <td style="text-align: right;">{{ getDateFromSeconds(gob.BMDLA) }}</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;">Blessures</td>
                                        <!--                                        <td style="text-align: right;">{{ getDateFromSeconds(gob.BMDLA) }}</td>-->
                                        <td style="text-align: right;">??:??:??</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;">Durée totale</td>
                                        <td style="text-align: right;">{{ getTotalDateFromSeconds(gob.DLADuration, gob.BPDLA, gob.BMDLA) }}</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-sm">
                                <table class="no-border">
                                    <!--                                    <tr>-->
                                    <!--                                        <td style="text-align: left;">Carac</td>-->
                                    <!--                                        <td>Valeur</td>-->
                                    <!--                                        <td>Moyenne</td>-->
                                    <!--                                    </tr>-->
                                    <tr>
                                        <td style="text-align: left;">Vue</td>
                                        <td>{{ gob.PER }} + {{ gob.BPPER }} + {{ gob.BMPER }}
                                        <td>
                                            <small>{{ gob.PER + gob.BPPER + gob.BMPER }}</small>
                                        </td>
                                    </tr>
                                    <!--                                    <tr>-->
                                    <!--                                        <td style="text-align: left;">PV</td>-->
                                    <!--                                        <td>{{ gob.PVMax }} + {{ gob.BPPVMax }} + {{ gob.BMPVMax }}</td>-->
                                    <!--                                        <td>-->
                                    <!--                                            <small>{{ gob.PV }} / {{ gob.PVMax + gob.BPPVMax + gob.BMPVMax }}</small>-->
                                    <!--                                        </td>-->
                                    <!--                                    </tr>-->
                                    <tr>
                                        <td style="text-align: left;">Attaque</td>
                                        <td>{{ gob.ATT }} d6 + {{ gob.BPATT }} + {{ gob.BMATT }}</td>
                                        <td>
                                            <small>{{ gob.ATT * 3.5 + gob.BPATT + gob.BMATT }}</small>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;">Dégâts</td>
                                        <td>{{ gob.DEG }} d3 + {{ gob.BPDEG }} + {{ gob.BMDEG }}</td>
                                        <td>
                                            <small>{{ gob.DEG * 2 + gob.BPDEG + gob.BMDEG }}
                                                / {{ (gob.DEG * 2 + gob.BPDEG + gob.BMDEG) * 1.5 }}</small>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;">Armure</td>
                                        <td>{{ gob.BPArm }} + {{ gob.BMArm }}</td>
                                        <td>
                                            <small>{{ gob.BPArm + gob.BMArm }}</small>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;">Esquive</td>
                                        <td>{{ gob.ESQ }} d6 + {{ gob.BPESQ }} + {{ gob.BMESQ }}</td>
                                        <td>
                                            <small>{{ gob.ESQ * 3.5 + gob.BPESQ + gob.BMESQ }}</small>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left;">Régén.</td>
                                        <td>{{ gob.REG }} d3 + {{ gob.BPREG }} + {{ gob.BMREG }}</td>
                                        <td>
                                            <small>{{ gob.REG * 2 + gob.BPREG + gob.BMREG }}</small>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-sm">
                                <table class="no-border">
                                    <tr>
                                        <td>Carac</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-sm">
                                <table class="no-border">
                                    <tr>
                                        <td>Carac</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--                    <div class="container">-->
                    <!--                        <div class="row">-->
                    <!--                            <div class="col">-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <!--                    <div class="container">-->
                    <!--                        <div class="row">-->
                    <!--                            <div class="col">-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                </td>
            </tr>
        </ng-container>
    </table>
</div>
<view-component #viewComponent></view-component>
<button type="button" class="btn btn-primary" *ngIf="lastId" (click)="refreshView()">Refresh vue</button>
